/*Master styles*/
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out {
    100%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    margin: 0%;
    z-index: -1;
    background: linear-gradient(167deg, rgba(1,0,36,1) 0%, rgba(121,9,111,1) 49%, rgba(98,0,255,1) 100%);
    background-size: contain;                      /* <------ */
    background-repeat: repeat;
    height:3080px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(167deg, rgba(1,0,36,1) 0%, rgba(121,9,111,1) 49%, rgba(98,0,255,1) 100%);
    overflow: hidden;
    overflow-y: scroll;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 6.5%;
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 86%;
    background-repeat: no-repeat;
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 25px 0px rgb(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: .2s ease-out;
}

footer{
    position: fixed;
    display: block;
    top: 66%;
}

.container-end{
    display: grid;
    position: fixed;
    grid-template-columns: 1fr;
    margin-left: 40%;
    margin-top: 15.6%;
    z-index: -1;
    height: 5%;
    width: 15%;
    background: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 25px 0px rgb(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: -24px;
    transition: .2s ease-out;
}

.container-end:hover{
    transform: translate3d(0, -20px, 0);
}

/*Nav styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background: rgb(0, 0, 0, 0.2);
    margin: 1%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}

.left-side{
    display: flex;
}

/*Nav bar*/

.flex{
    display: flex;
    gap: var(--gap, 2rem);
}

.primary-navigation {
    list-style: none;
    padding: 20px;
    --gap: 1.5em;
    position: absolute;
    text-align: center;
    z-index: -1;
    flex-direction: column;
    padding-top: 0.6%;
    margin-left: -9.3%;
    margin-top: 3.15%;
    align-items: center;
}

.primary-navigation[data-visible="false"]{  /* fade-out */
    transition: 0.6s;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    background: transparent;
    text-decoration: transparent;
}

.primary-navigation[data-visible="true"]{
    transition: 0.6s;
    z-index: 99;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgb(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
}

.primary-navigation a{
    text-decoration: none;
    padding: 0px 10px;
    display: inline-block;
    color: #ddd9d9;
}

.primary-navigation a:hover{
    transition: 0.6s;
    text-decoration: none;
    color: springgreen;
}

.mobile-nav-toggle{
    position: relative;
    z-index: 0;
    background:  rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: none;
    margin-left: 0%;
    width: 5rem;
    height: 1.6rem;
}

.mobile-nav-toggle:hover{
    cursor: pointer;
    transition: 0.6s;
    background-color: rgb(0, 0, 0, 0.1);
}

/*End Nav bar*/

.bottom-side{
    display: flex;
}

.right-side{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-side a{
    padding: 1em 1.5em;
    color: #0b0839;
    text-decoration: none;
}

.right-side a:hover{
        transition: 0.4s;
    text-shadow: 1px 0 10px #0b0839;
}

.nav-wrapper > .left-side > div{
    margin-right: 25%;
    font-size: 0.9em;
    text-transform: uppercase;    
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s;
}

.nav-link-wrapper a{
    color: #ddd9d9;
    text-decoration: none;
    transition: color 0.1s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid #0b0839;
}

.nav-link-wrapper a:hover{
    color: #0b0839;
}

.active-nav-link{
    border-bottom: 1px solid #0b0839;
}


.active-nav-link a{
    color: #0b0839 !important;
}

/*About styles*/

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img{
    width: 100%;
}

.profile-content-wrapper{
    padding: 2%;
}

/*Contact modal styles*/

.contact-us a{
    text-decoration: none;
    font-size: 15px;
    top: 5px;
    position: relative;
    z-index: 3;
    background:  transparent;
    cursor: pointer;
    color: #0b0839;
    font-weight: 500;
    border: none;
    margin-left: 0%;
    width: 5.6rem;
    height: 1.6rem;
    left: 29%;
}

form{
    margin: 0;
    margin-left: 36%;
    margin-top: 10%;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px 0px rgb(0, 0, 0, 0.5);
    padding: 0.5% 1%;
    width: 300px;
    height: 400px;
    max-width: 600px;
    border-radius: 15px;
}


form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 1%;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 10px;
    background: springgreen;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 5px auto 0px;
    border-radius: 10px;
}

#pop-up-container{
    width: 98.6%;
    height: 100%;
    display: block;
    inset: 0;
}

#pop-up-container[open="false"]{
    pointer-events: none;
    z-index: -1;
    animation: fade-out 1s forwards;
    visibility: hidden;
    opacity: 0;
    display: none;
}


#pop-up-container[open="true"]{
    animation: fade-in 1s forwards;
    z-index: 5;
    margin: 0px;
    display: flex;
    visibility: visible;
    position: absolute;
    opacity: 1;
}

.pop-up-close{
    text-decoration: none;
    position: absolute;
    font-weight: 1000;
    font-size: 30px;
    color: black;
    display: flex;
    margin-top: 1%;
    margin-left: 20%;
}

textarea{
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 87%;
    min-width: 50%;
    min-height: 30%;
}
/*************Scroll bar**********/

::-webkit-scrollbar{
    width: 0.2em;
}

::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-block: .2em;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(244, 112, 112),rgb(96, 60, 238));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background:  linear-gradient(rgb(244, 112, 112), rgb(251, 249, 183));
}


/************************************************* MAIN OVERVIEW AND RESUME STYLE ***************************************************************/

/************************************************* Wave animations ***************************************************************/

.wave-div{
    position: absolute;
    left: 0;
    top: 670px;
    z-index:-2;
    width: 100%;
    height: 2410px;
    background: linear-gradient(#acdeff, #407cb4 , #19547c , #002239, rgb(0, 0, 20));
    box-shadow: 0px 0px 50px rgb(0, 0, 0, .5);
    transition: background-color .6s linear;
}

.boat{
    position: absolute;
    top: -85px;
    height: 80px;
    aspect-ratio: 1;
    background-image: url('../assets/index/boat-left.png');
    background-size: contain;
    animation: float 10s linear infinite;
}

.fish > *{
    height: 80px;
    position: absolute;
    aspect-ratio: 1;
    top: 10px;
    z-index: 9;
    left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 6s linear infinite;
}

.fish1{
    left: 1300px;
    top: 180px;
    background-image: url('../assets/index/fish1-right.png');
}

.fish2{
    left: 0px;
    top: 340px;
    animation: float 7s linear infinite;
    background-image: url('../assets/index/fish2-left.png');

}

.fish3{
    left: 1300px;
    top: 720px;
    animation: float 15s linear infinite;
    background-image: url('../assets/index/fish3-right.png');
}

.fish4{
    left: 300px;
    top: 980px;
    animation: float 50s linear infinite;
    background-image: url('../assets/index/fish4.png');
}

.fish7{
    left: 0px;
    top: 1280px;
    background-image: url('../assets/index/fish7-left.png');
}

.fish8{
    left: 0px;
    top: 2080px;
    height: 180px;
    z-index: -2;
    background-image: url('../assets/index/fish8-left.png');
    animation: none;
    opacity: .6;
}

.fish6{
    left: 1300px;
    top: 1680px;
    background-image: url('../assets/index/fish6-right.png');
}

.fish5{
    left: 0px;
    top: 2200px;
    animation: float 50s linear infinite;
    background-image: url('../assets/index/fish5-left.png');
}

.rust{
    left: 230px;
    top: 2320px;
    height: 30px;
    aspect-ratio: 1;
    background-image: url('../assets/index/rust.png');
    background-size: contain;
    animation: float .4s linear infinite;
}

.treasure{
    left: 320px;
    top: 2290px;
    height: 100px;
    aspect-ratio: 1;
    animation: none;
    background-image: url('../assets/index/treasure.png');
}

@keyframes float {
    0%{
        transform: rotate(0deg) translateY(3px);
    }
    25%{
        transform: rotate(10deg) translateY(0px);
    }
    50%{
        transform: rotate(0deg) translateY(3px);
    }
    75%{
    transform: rotate(-8deg) translateY(0px);        
    }
    100%{
        transform: rotate(0deg) translateY(3px);
    } 
}

.wave1, .wave2, .wave3{
    display: block;
    height: 52px;
    width: 150%;
    margin-left: -50%;
    background-image: url('../assets/svg/waves1.svg');
    margin-top: -52px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center center;
    transition: 1s ease-in;
    }

.wave1{
    animation: wave 50s infinite linear;
}

.wave2{
    margin-top: -55px;
    width: 150%;
    opacity: .5;
    animation: wave 35s infinite linear;
}

.wave3{
    margin-top: -58px;
    width: 150%;
    opacity: .3;
    animation: wave 60s infinite linear;
}

@keyframes wave {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(30%);
    }
    100%{
        transform: translateX(0px);
    }
}
 /***************************************************************************************************************/


/************************************************* bubble animation ***************************************************************/



.main-overview{
    position: absolute;
    top: -300px;
    left: 120px;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    height: 500px;
    width: 1120px;
    transition: .5s ease-out;
}

.main-overview.isVisible{
    visibility: visible;
    opacity: 1;
    transform: translateY(380px);
}

.resume-education.isVisible, .resume-expertise.isVisible, .resume-languages.isVisible, .widget-art.isVisible, .return-overview.isVisible{
    visibility: visible;
    opacity: 1;
    transform: translateX(-500px);    
} 

.resume-programing-languages.isVisible, .resume-softwares-tools.isVisible, .resume-hobbies.isVisible, .resume-achievements.isVisible{
    visibility: visible;
    opacity: 1;
    transform: translateX(500px);
}

.page-component{
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 2px rgb(0, 0, 0, .4);
    backdrop-filter: blur(15px);
}

.resume-programing-languages{
    position: absolute;
    top: 60px;
    left: -380px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 600px;
    width: 400px;
    transition: .4s ease-out;
}


.resume-education{
    position: absolute;
    top: 60px;
    left: 1080px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 500px;
    width: 660px;
    transition: .8s ease-out;
}

.resume-expertise{
    position: absolute;
    top: 600px;
    left: 1080px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 420px;
    width: 660px;
    transition: .5s ease-out;
}

.resume-softwares-tools{
    position: absolute;
    top: 700px;
    left: -380px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 400px;
    width: 400px;
    transition: .7s ease-out;
}

.resume-languages{
    position: absolute;
    top: 1060px;
    left: 1080px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 200px;
    width: 660px;
    transition: 1s ease-out;
}

.resume-hobbies{
    position: absolute;
    top: 1160px;
    left: -380px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 100px;
    width: 400px;
    transition: .9s ease-out;
}

.widget-art{
    position: absolute;
    top: 1300px;
    left: 1320px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 200px;
    width: 400px;
    transition: 1.2s ease-out;
}

.resume-achievements{
    position: absolute;
    top: 1300px;
    left: -380px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 200px;
    width: 660px;
    transition: 1.2s ease-out;
}

.resume-main-goals{
    position: absolute;
    top: 1840px;
    left: 120px;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    height: 100px;
    width: 1100px;
    transition: .5s ease-out;
}

.resume-main-goals.isVisible{
    visibility: visible;
    opacity: 1;
    transform: translateY(-300px);
}

.resume-brief-paragraph{
    position: absolute;
    top: 120px;
    left: 230px;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    height: 400px;
    width: 900px;
    transition: .5s ease-out;
}

.resume-brief-paragraph.isVisible{
    visibility: visible;
    opacity: 1;
}

.return-overview{
    position: fixed;
    top: 480px;
    left: 1780px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: 3s ease-out;
}

.made-with-love{
    position: absolute;
    top: 560px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    visibility: hidden;
    opacity: 0;
    margin-left: -30px;
    height: 50px;
    width: 400px;
    transition: 1.5s ease-out;
}

.made-with-love.isVisible{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 105px);
}

.sand-bottom{
    width: 100%;
    height: 170px;
    position: absolute;
    top: 550px;
    z-index: -1;
    opacity: .8;
    background: url('../assets/svg/sand-bottom.svg');
    background-repeat: repeat;
    background-size: contain;
}

 /************************************************* magnet pages ***************************************************************/

 .split-container{
    height: 3080px;
 }

 .page1{
    height: 680px;
    width: 100%;
}

.page2{
    isolation: isolate;
    position: absolute;
    top: 690px;
    height: 1660px;
    width: 100%;
}

.page3{
    position: absolute;
    top: 2360px;
    height: 720px;
    width: 100%;
}

/*************************************************** ALGAES *********************************************/


.algae1, .algae2, .algae3{
    height: 100px;
    position: absolute;
    opacity: .4;
    z-index: -2;
    top: 575px;
}

.algae2{
    margin-top: 15px;
    right: 0;
}

.algae3{
    left: 50%;
    height: 110px;
    margin-top: 5px;
}